body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fdf6f0;
    color: #3e2723;
    text-align: center;
}

.hero {
    background: url('images/banner.jpg') no-repeat center center/cover;
    padding: 100px 20px;
    color: white;
    text-shadow: 1px 1px 3px #000;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #6f4e37;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: #4e342e;
}

footer {
    background-color: #3e2723;
    color: #fff;
    padding: 10px 0;
    margin-top: 40px;
}

.login-form {
    margin-top: 50px;
}

input {
    padding: 8px;
    border: 1px solid #8d6e63;
    border-radius: 6px;
}

.produk-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}



.produk-card img {
    width: 100%;
    border-radius: 12px;
}

















